#div1{

    border: solid 1px red;
    height: 600px;
    width: 900px;
    margin: auto;
}

#div2{

    border: solid 1px blue;
    height: 50px;
    width: 50px;
    position: relative;
    top: 50px;


}

